nnn.json
{
    "name": "Social Multi Post",
    "nodes": [
        {
            "parameters": {},
            "id": "ManualTrigger",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                300,
                200
            ]
        },
        {
            "parameters": {
                "fields": {
                    "image_urls": "",
                    "caption": "",
                    "hashtags": ""
                }
            },
            "id": "Inputs",
            "name": "Inputs (enter values here)",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                500,
                200
            ]
        },
        {
            "parameters": {
                "propertyName": "image_urls",
                "splitBy": ","
            },
            "id": "SplitImages",
            "name": "Split Images",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 1,
            "position": [
                700,
                200
            ]
        },
        {
            "parameters": {
                "url": "https://graph.facebook.com/v18.0/INSTAGRAM_BUSINESS_ID/media",
                "method": "POST",
                "sendBody": "form-urlencoded",
                "bodyParametersUi": {
                    "parameter": [
                        {
                            "name": "image_url",
                            "value": "={{$json}}"
                        },
                        {
                            "name": "caption",
                            "value": "={{$node[\"Inputs (enter values here)\"].json[\"caption\"]}} {{$node[\"Inputs (enter values here)\"].json[\"hashtags\"]}}"
                        },
                        {
                            "name": "access_token",
                            "value": "YOUR_META_LONGTOKEN"
                        }
                    ]
                }
            },
            "id": "IGUpload",
            "name": "Instagram Upload Media",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 2,
            "position": [
                900,
                100
            ]
        },
        {
            "parameters": {
                "url": "https://graph.facebook.com/v18.0/INSTAGRAM_BUSINESS_ID/media_publish",
                "method": "POST",
                "sendBody": "form-urlencoded",
                "bodyParametersUi": {
                    "parameter": [
                        {
                            "name": "creation_id",
                            "value": "={{$json.id}}"
                        },
                        {
                            "name": "access_token",
                            "value": "YOUR_META_LONGTOKEN"
                        }
                    ]
                }
            },
            "id": "IGPublish",
            "name": "Instagram Publish",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 2,
            "position": [
                1100,
                100
            ]
        },
        {
            "parameters": {
                "url": "https://graph.facebook.com/v18.0/FACEBOOK_PAGE_ID/photos",
                "method": "POST",
                "sendBody": "form-urlencoded",
                "bodyParametersUi": {
                    "parameter": [
                        {
                            "name": "url",
                            "value": "={{$json}}"
                        },
                        {
                            "name": "caption",
                            "value": "={{$node[\"Inputs (enter values here)\"].json[\"caption\"]}} {{$node[\"Inputs (enter values here)\"].json[\"hashtags\"]}}"
                        },
                        {
                            "name": "access_token",
                            "value": "YOUR_META_LONGTOKEN"
                        }
                    ]
                }
            },
            "id": "FBPost",
            "name": "Facebook Feed Post",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "resource": "post",
                "operation": "create",
                "organization": "YOUR_LINKEDIN_ORG_ID",
                "text": "={{$node[\"Inputs (enter values here)\"].json[\"caption\"]}} {{$node[\"Inputs (enter values here)\"].json[\"hashtags\"]}}"
            },
            "id": "LinkedInPost",
            "name": "LinkedIn Post",
            "type": "n8n-nodes-base.linkedIn",
            "typeVersion": 2,
            "position": [
                900,
                500
            ]
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Inputs (enter values here)",
                        "type": "main"
                    }
                ]
            ]
        },
        "Inputs (enter values here)": {
            "main": [
                [
                    {
                        "node": "Split Images",
                        "type": "main"
                    }
                ]
            ]
        },
        "Split Images": {
            "main": [
                [
                    {
                        "node": "Instagram Upload Media",
                        "type": "main"
                    },
                    {
                        "node": "Facebook Feed Post",
                        "type": "main"
                    },
                    {
                        "node": "LinkedIn Post",
                        "type": "main"
                    }
                ]
            ]
        },
        "Instagram Upload Media": {
            "main": [
                [
                    {
                        "node": "Instagram Publish",
                        "type": "main"
                    }
                ]
            ]
        }
    }
}